@keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
}

* {
    font-family: 'Rubik', sans-serif;
    overflow-x: clip;
}

html {
    background-color: #fafafa;
}

section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 100px;
}

p {
    color: hsl(270, 7%, 64%);
    font-size: 16px;
    line-height: 170%;
}

.mt-0 {
    margin-top: 0;
} 

.header-grid span {
    color: hsl(276, 100%, 81%);
    font-size: 60%;
}

h1 {
    font-weight: 500;
    margin: 0;
    font-size: 290%;
    color: hsl(271, 36%, 24%);
}

h2 {
    color: white;
    font-size: 70%;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 0;
}

.user {
    line-height: 70%;
}

.text-right {
    width: 70%;
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.phone {
    margin-top: 10%;
    z-index: 2;
    background-color: hsl(270, 20%, 96%);
    border: 10px solid white;
    border-radius: 20px;
    width: 17rem;
    justify-self: right;
    margin-right: 25px;
    box-shadow: 0px 10px 48px 11px rgb(0 0 0 / 10%);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}

.element-purple {
    position: absolute;
    height: 37rem;
    width: 30rem;
    top: 0;
    left: 0;
    border-bottom-right-radius: 290px 290px;
    border-bottom-left-radius: 290px 290px;
    z-index: 1;
    background: linear-gradient(#e942ff,#8838ff);
}

.element-gray {
    position: absolute;
    display: flex;
    height: 37rem;
    width: 30rem;
    top: 10%;
    right: 0;
    margin-left: 15%;
    border-top-right-radius: 290px 290px;
    border-top-left-radius: 290px 290px;
    z-index: 1;
    background: linear-gradient(#f7f5fa,#f9f4fa);
}

.head-phone {
    background: linear-gradient(#e942ff,#8838ff);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 15px;
}

.header-grid {
    gap: 10px;
    width: 90%;
    display: grid;
    grid-template-columns: 10% 10% 1fr 10%;
}

.avatar {
    display: flex;
    align-items: center;
}

.avatar img {
    border-radius: 50px;
    border: 1px solid white;
    width: 80%;
}

.arrow {
    display: flex;
    align-items: center;
    justify-content: right;
}

.arrow svg {
    width: 15px;
}

.last-column {
    display: flex;
    align-items: center;
    justify-content: end;
}

.three-dots:after {
    content: '\2807';
    font-size: 20px;
    color: white;
}

.top-white {
    height: 20px;
    background-color: white;
    width: 45%;
    border-radius: 0 0 25px 25px;
    margin-bottom: 10px;
}

.msg-received {
    display: flex;
}

.msg-received span {
    font-size: 50%;
    background-color: #ede5f4;
    width: 50%;
    margin: 10px 15px 0 15px;
    padding: 5px 10px;
    border-radius: 10px 10px 10px 0px;
    line-height: 140%;
    color: hsl(276, 55%, 52%);
}

.img-sent {
    display: flex;
    justify-content: end;
    gap: 10px;
    padding-right: 15px;
}

.img-sent img {
    width: 15%;
    border-radius: 10px;
}

.msg-sent {
    display: flex;
    justify-content: end;   
}

.msg-sent span {
    max-width: 50%;
    background-color: #fff;
    margin: 10px 15px 0 15px;
    padding: 10px;
    border-radius: 15px 15px 0px 15px;
    font-size: 50%;
    box-shadow: 0px 10px 18px -11px rgb(0 0 0 / 20%);
}

.separator {
    margin-top: 5%;
}

.msg-proposal {
    display: grid;
    grid-template-columns: 15% 1fr 20%;
    background: linear-gradient(#e942ff,#8838ff);
    width: 65%;
    margin: 10px 1px 0 15px;
    padding: 7px 10px;
    border-radius: 15px 15px 15px 0px;
    font-size: 12px;
    color: white;
    align-items: center;
}

.checkcontainer {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 17px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; 
}

.checkcontainer input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkcontainer input:checked ~ .radiobtn {
    background-color: #fff;
}

.radiobtn {
    position: absolute;
    top: 0;
    left: 0;
    height: 12px;
    width: 12px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid hsl(289, 100%, 72%);
}

.msg-proposal .price {
    font-size: 14px;
    font-weight: 700;
}

.time-track {
    font-size: 70%;
}

.typing-area {
    margin: 10px 11px 10px 15px;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 20px;
}

.typing-area input[type=text] {
    flex-grow: 2;
    width: 85%;
    border: none;
    border-radius: 20px;
    padding: 15px 10px 15px 20px;
    font-size: 70%;
}

.typing-area button {
    border: none;
    width: 1.6rem;
    border-radius: 50px;
    height: 1.5rem;
    align-self: center;
    background-color: hsl(271, 36%, 24%);
    margin-right: 5px;
    cursor: pointer;
}

.typing-area button img {
    align-self: center;
    width: 5px;
}

input[type=text]::placeholder {
    color: hsl(206, 6%, 79%);
}

.text {
    z-index: 2;
}

@media screen and (max-width: 999px) {

    .text-right {
        text-align: center;
        width: auto;
        margin: 0 8px;
    }

    section {
        grid-template-columns: 1fr;
        gap: 0;
        }
    
    .text { 
        width: 100%;
        margin-top: 4rem;
    }

    .phone {
        margin: 0;
        justify-self: center;
    }

    .element-purple {
        width: 20rem;
        border-bottom-left-radius: 0;
    }

    .element-gray {
        display: none;
    }
    
}

.attribution {
    margin-top: 3rem;
}